<nav id="container">
    <div id="navigation-links">
        <ul>
            <li>
                <a href="">
                    <img src="assets/images/navbar/man.png" alt="">
                </a>
            </li>
            <li>
                <a href="">LEARN</a>
            </li>
            <li>
                <a href="">BLOG</a>
            </li>
            <li>
                <a href="">BOOKMARKS</a>
            </li>
            <li>
                <a href="">UI KIT</a>
            </li>
            <li>
                <a href="">PORTFOLIO</a>
            </li>
        </ul>
        
        <ul id="media-links">
            <li>
                <a href="">
                    <img class="media-images" src="assets/images/navbar/twitter.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="media-images" src="assets/images/navbar/social.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="media-images" src="assets/images/navbar/linkedin.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="media-images" src="assets/images/navbar/github.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</nav>

