#container__big-card{
    width: 830px;
    display:flex;
    flex-direction: column;
    padding: 3.125rem 3.2rem 2rem 4rem ;
    margin-left: 3.05rem;
    margin-right: 3.05rem;
    margin-top: 20px;
}

#image-section {
    height: 550px;
    width: 95%;
    min-width: 600px;
    display: flex;
    justify-content: center;
    border: 1px solid #222222;
}

#date-section{
    margin-top: .5rem;
    margin-bottom: .2rem;
    color: #525252;
}

#big-card-title{
    padding: 0px 1rem 0px 0px;
    line-height: 2.3rem;
    margin-bottom: 1rem;
}

#big-card-title a {
    text-decoration: none;
}

#description-section{
    padding: 0px 5rem 0px 0px;
    color: grey;
}