<app-navbar></app-navbar>

<app-title></app-title>

<div id="news-section">
    <app-big-card
    photoCover="assets\images\big-card\suitcase.png"
    title="Exploração de design para candidatar-se a vaga de Desenvolvedor Front-end"
    description="Marcos já trabalhou em projetos, mas frequentemente faz exploração de design. Ele pode se candidatar a uma vaga como Desenvolvedor Front-end">

    </app-big-card>
    <div id="small-section">
        <app-side-section
        photoCover="assets\images\small-card\smallcard-image1.png"
        title="Novas tendências de linguagens para desenvolvimento Back-End"
        description="O universo do desenvolvimento back-end está em constante evolução. Com novas demandas de desempenho, escalabilidade e integração, surgem linguagens e tecnologias que prometem transformar a forma como aplicações são construídas. Neste conteúdo, você confere as principais tendências e apostas para os próximos anos."></app-side-section>
        
        <app-side-section
        photoCover="assets\images\small-card\smallcard-image2.png"
        title="Linguagens em Alta no Desenvolvimento Back-End: O que Observar nos Próximos Anos"
        description="Seja para microsserviços, APIs ou sistemas complexos, escolher a linguagem certa faz toda a diferença. Acompanhe um panorama atualizado sobre as linguagens mais promissoras no back-end e descubra quais delas estão ganhando espaço entre os desenvolvedores e empresas de tecnologia."></app-side-section>

        <app-side-section
            photoCover="assets\images\small-card\smallcard-image3.png"
            title="Evolução do Back-End: Tecnologias e Linguagens que Estão Redefinindo o Setor">
        </app-side-section></div>
</div>
